<div class="container" id="aboutId">
    <h1 class="text-center my-4">About Us</h1>
    <div class="row about">
        <div class="col-md-6 left text-center">
            <img src="./img3.png" alt="Glass Industry">
        </div>
         
        <div class="col-md-6 right text-center text-md-left">
            <p>Welcome to our glass industry, where innovation meets precision. We pride ourselves on delivering top-notch glass solutions for both architectural and industrial needs. Our state-of-the-art facilities and expert team ensure that every product is crafted with the highest standards of quality and excellence.</p>
            <p>With a commitment to sustainability and customer satisfaction, we are dedicated to pushing the boundaries of what glass can do. From custom designs to large-scale projects, our glass products are designed to enhance the aesthetic and functional aspects of any space.</p>
            <p>Join us in our journey to transform spaces with the clarity and beauty of superior glass. Your vision is our mission, and we are here to bring it to life with our unparalleled expertise and innovative solutions.</p>
             <a href="#"  class="btn btn-primary">Read More</a>
        </div>
    </div>
</div>