<div class="container-fluid" id="homeId">
    <div class="row content">
        <div class="col-md-6 left text-center text-md-left">
            <h1 style="color: brown;">Welcome to Our Glass Industry</h1>
            <p>Experience the finest in glass solutions, tailored to meet your architectural and industrial needs. Our products are designed with precision and crafted with excellence to bring your visionary designs to life.</p>
            <a href="#"  class="btn btn-primary">Read More</a>
        </div>
        <div class="col-md-6 right text-center">
            <img src="./img1.png" alt="Glass Industry">
        </div>
    </div>
</div>