<div class="container" id="serviceId">
    <h1 class="text-center my-4">Our Services</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s1.jpg" class="card-img-top" alt="Service 1">
                <div class="card-body">
                    <h5 class="card-title">Custom Glass Design</h5>
                    <p class="card-text">Tailor-made glass solutions to meet your unique architectural and aesthetic needs.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s2.jpg" class="card-img-top" alt="Service 2">
                <div class="card-body">
                    <h5 class="card-title">Industrial Glass</h5>
                    <p class="card-text">High-quality glass products designed for industrial applications and durability.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s3.jpg" class="card-img-top" alt="Service 3">
                <div class="card-body">
                    <h5 class="card-title">Architectural Glass</h5>
                    <p class="card-text">Innovative glass solutions for modern architecture and construction projects.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s4.webp" class="card-img-top" alt="Service 4">
                <div class="card-body">
                    <h5 class="card-title">Decorative Glass</h5>
                    <p class="card-text">Beautiful and functional decorative glass to enhance any space with elegance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s5.jpg" class="card-img-top" alt="Service 5">
                <div class="card-body">
                    <h5 class="card-title">Glass Installation</h5>
                    <p class="card-text">Professional glass installation services for both residential and commercial properties.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="./s6.jpg" class="card-img-top" alt="Service 6">
                <div class="card-body">
                    <h5 class="card-title">Glass Repair</h5>
                    <p class="card-text">Reliable and efficient glass repair services to restore the integrity of your glass products.</p>
                </div>
            </div>
        </div>
    </div>
</div>